---
import BaseLayout from "../layouts/BaseLayout.astro"

import Header from "../components/Header.astro"
import Hero from "../components/Hero.astro"
import Pricing from "../components/Pricing.astro"
import Footer from "../components/Footer.astro"
import SkipToContentLink from "../components/SkipToContentLink.astro"

const title = "officelite coming soon"
const description =
    "Say goodbye to inefficient juggling of multiple apps, teams, and projects. Officelite is the new collaboration platform built with an intuitive interface to improve productivity."
---

<BaseLayout title={title} description={description}>
    <SkipToContentLink />
    <main class="px-6 md:px-10 2xl:px-0 bg-image" id="main-content" role="main" class="">
        <Header />
        <Hero />
        <Pricing />
    </main>
    <Footer />
</BaseLayout>

<style>
    .bg-image {
        background-image: url("../images/home/bg-pattern-header.svg");
        background-repeat: no-repeat;
        background-size: 458px;
        background-position: top -168px center;
    }
    @media screen(sm) {
        .bg-image {
            background-size: 666px;
            background-position: top -108px right -278px;
        }
    }

    @media screen(xl) {
        .bg-image {
            background-size: 973px;
            background-position: top -240px right -243px;
        }
    }
</style>
