---
import { twMerge } from "tailwind-merge"

const { text, href, class: className, ariaLabel } = Astro.props
---

<a
    href={href}
    class={twMerge(`${className} font-bold rounded-full px-10 text-base py-4 focus:ring-2 focus:ring-offset-2 focus:ring-primary`)}
    aria-label={ariaLabel ?? text}
>
    {text}
</a>
